<div class="container">
  <div class="header">
    <div class="header-text-div">    <h2>University Management</h2>
    </div>
    <div class="header-icon-div">
      <button (click)="navigateToTarget()">
        <mat-icon class="icon">arrow_forward</mat-icon>
      </button></div>

  </div>


  <!-- Navigation -->

  <mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle value="left" (change)="showAddUniversity()">
      Add University
    </mat-button-toggle>
    <mat-button-toggle value="center" (change)="showUniversityList()">
      University List
    </mat-button-toggle>

    <mat-button-toggle (change)="showBoth()">Both</mat-button-toggle>
  </mat-button-toggle-group>

  <!-- Content Section -->
  <div class="content">
    <app-university-list *ngIf="showList"></app-university-list>
    <app-add-university *ngIf="showAdd"></app-add-university>
    <!-- <app-university-form *ngIf="showAdd" > </app-university-form> -->
  </div>


</div>
